@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  --padding: 10px;
  --margin: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  font-size: 13px;
}

main {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: auto;
}
.image img {
  height: 224.2px;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-content: space-between;
}
img {
  width: 250px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
}
.content .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.content .paragraph {
  font-size: 13px;
  color: #cfcbcb;
  margin-bottom: 10px;
}
.content .user {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.user .info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.user .info img {
  width: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.user .icon img {
  width: 15px;
  margin-top: 20px;
  margin-right: 10px;
}
.user .info .name h5:first-child {
  color: black;
  font-weight: bold;
}
.user .info .name h5:last-child {
  color: #cfcbcb;
}

@media (max-width: 767px) {
  main {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
  }
  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    justify-content: space-between;
  }
  img {
    width: 300px;
  }
}
